{% extends "base.html" %}

{% block title %}Blocken{% endblock %}

{% block content %}
{% if request.session.OAUTH_TOKEN %}
{% if users %}
<form action="{% url 'blockapi' %}" method="post">
  {% csrf_token %}
  <h2>Folgende User blocken?</h2>
  <div class="row">
    {% autoescape on %}
    {% for user in users %}
    <div class="col-3">
      <div class="form-check">
        <input class="form-check-input" name="profile_ids" type="checkbox" value="{{user.id}}" id="check-{{user.id}}"
          >
        <label class="form-check-label" for="check-{{user.id}}">
          {{ user.username }}
        </label>
      </div>
    </div>
    {% endfor %}
  </div>
   {% endautoescape %}
  <div class="row">
    <div class="col">
      <div class="mt-4 mb-4"><button type="submit" class="w-100 btn btn-danger" >Blocken</button></div>
    </div>
  </div>
</form>
{% else %}
<form action="{% url 'blocklists' %}" method="post">
  {% csrf_token %}
  <h2>Retweeter dieses Tweets blocken?</h2>
 <div class="row">
    <div class="col">URL zum Tweet hier einf&uuml;gen:</div>
  </div>
  <div class="row">
    <div class="col"><input type="url" name="url"></input></div>
    <div class="col"><input onclick="document.forms[0].submit()" class="btn btn-danger"
        value="Retweeter blocken" /></div>
  </div>
  <div class="row">
    <div class="col" style="font-size:small">Es werden bis zu 100 Retweeter geblockt.</div>
  </div>
</form>
{% endif %}
{% endif %}
{% endblock %}
<br /><br /><br />
