{% extends "base.html" %}

{% block title %}Blocken{% endblock %}

{% block content %}
{% if request.session.OAUTH_TOKEN %}
{% if users %}
<form action="{% url 'blockapi' %}" method="post">
  {% csrf_token %}
  <h2>Folgende User blocken?</h2>
  <br>
  {% autoescape on %}
  {% for user in users %}
  {{ user }} <br>
  <input type="hidden" name="profile_urls" value="{{user}}">
  {% endfor %}
  {% endautoescape %}
  <input class="btn btn-danger" type="button" onclick="document.forms[0].submit()" value="Blocken"/>
</form>
{% else %}
<form action="{% url 'blocklists' %}" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-8">URL zum Tweet hier einf&uuml;gen:</div>
  </div>
  <div class="row">
    <div class="col-md-4"><input type="url" name="url"></input></div>
    <div class="col-md-4"><input onclick="document.forms[0].submit()" class="btn btn-danger" value="Retweeter blocken"/></div>
  </div>
  <div class="row">
    <div class="col-md-8" style="font-size:small">Es werden bis zu 100 Retweeter geblockt.</div>
  </div>
</form>
{% endif %}
{% endif %}
{% endblock %}
