<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href='{% static "bootstrap-4.4.1-dist/css/bootstrap.min.css" %}'>
  </head>
  <body>
    <div class="container" style="max-width:1000px; margin-top:30px">
      <div class="row">
        <div class="col-md-8">
          <a href="/">Home</a> |
          {% if not request.session.OAUTH_TOKEN %}
          <a href="{{ login_url }}">Login</a>
          {% else %}
          <a href="{% url 'blocklists' %}">Blocklisten</a> |
          <a href="/logout">Logout</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="container" style="max-width:1000px; margin-top:50px">
      {% block content %}{% endblock %}
    </div>
    <div id="output">
    </div>
  </body>
</html>
