{% extends "base.html" %}

{% block title %}Blocken{% endblock %}

{% block content %}
{% if request.session.OAUTH_TOKEN %}
<form action="{% url 'blockapi' %}" method="post">
  {% csrf_token %}
  <h2>User you follow who likely pay 8$ per month to Musk</h2>
  <div class="row">
    {% autoescape on %}
    {% for user in musk_friends %}
    <div class="col-3">
      <div class="form-check">
        <input class="form-check-input" name="profile_ids" type="checkbox" value="{{user.id}}" id="check-{{user.id}}"
          checked>
        <label class="form-check-label" for="check-{{user.id}}">
          {{ user.username }}
        </label>
      </div>
    </div>
    {% endfor %}
  </div>
  <h2>User you follow who were verfied before Musk introduced feudalism</h2>
  <div class="row">
    {% for user in verified_friends %}
    <div class="col-3">
      <div class="form-check">
        <input class="form-check-input" name="profile_ids" type="checkbox" value="{{user.id}}" id="check-{{user.id}}"
          >
        <label class="form-check-label" for="check-{{user.id}}">
          {{ user.username }}
        </label>
      </div>
    </div>
    {% endfor %}
  </div>
   {% endautoescape %}
  <div class="row">
    <div class="col">
      <div class="mt-4 mb-4"><button type="submit" class="w-100 btn btn-danger" >Unfollow</button></div>
    </div>
  </div>
</form>
{% endif %}
{% endblock %}
<br /><br /><br />
